{# empty Twig template #}
{% extends "base.html.twig" %}

{% block body %}
    <h1>Add post</h1>
    <form action="/post/add" method="POST" class="post-form"> 
        <label>
            Enter title
            <input name="title" type="text"/>
        </label>
         <label>
            Enter discription
            <textarea name="discription"></textarea>
        </label>
        <buttom class="btn-blue">Create post<buttom>
    </form>
{% endblock %}